<ul class="menu">
<li class="current"><a href="/">Home</a></li>
<li><a href="/users/characterinformation">Character Information</a></li>
<li><a href="/users/characterequipment">Character Equiment</a></li>
<li><a href="/users/characterpets">Character Pets</a></li>
<li><a href="/users/itemprice">Item Price Buy and Sell</a></li>
<li><a href="/users/abbreviation">Abbreviation</a></li>
<li><a href="/users/more">More</a></li>
<li><a href="/users/addinfo">Additional Information</a></li>
</ul>