<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img src="/images/一笔签.gif" alt="Heart Sushi Logo" style="width:250px;height:100px;">  
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
    
            <li class="nav-item active">
                <a class="nav-link" href="/">HS Nav</a>
            </li> 
            <li class="nav-item active dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Home</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/category">All Categories</a>
                    <a class="dropdown-item" href="/category/new">Add New Category Type</a> 
                    <a class="dropdown-item" href="/question">Question</a>
                    <a class="dropdown-item" href="/question/new">Add New Question</a>
                </div>
            </li>
            <li class="nav-item active dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">基础(Foundation)</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/category/Foundation/Array&List">1.1 数组和链表(Array&List)</a>
                    <a class="dropdown-item" href="/category/Foundation/Stack&Quene">1.2 栈和队列(Stack&Queue)</a>
                    <a class="dropdown-item" href="/category/Foundation/Tree">1.3 树(Tree)</a>
                    <a class="dropdown-item" href="/category/Foundation/String">1.4 字符串(String)</a>
                    <a class="dropdown-item" href="/category/Foundation/Binary%20Search">1.5 二分查找(Binary Search)</a>
                </div>
            </li>
            <li class="nav-item active dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">设计(Design)</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/category/Design/Building%20Block">2.1 积木块(Building Block)</a>
                    <a class="dropdown-item" href="/category/Design/Combinatorial%20Algorithm">2.2 组合算法(Combinatorial Algorithm)</a>
                    <a class="dropdown-item" href="/category/Design/Greedy%20Algorithm">2.3 贪心算法(Greedy Algorithm)</a>
                    <Server class="dropdown-item" href="/category/Design/Dynamic%20Programming">2.4 动态规划(Dynamic Programming)</a>
                </div>
            </li>
            <li class="nav-item active dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">杂项(Misc)</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/category/Misc/Math&Pattern">3.1 数学和规律(Math&Pattern)</a>
                    <a class="dropdown-item" href="/category/Misc/Bit%20Manipulation">3.2 位运算(Bit Manipulation)</a>
                    <a class="dropdown-item" href="/category/misc/Matrix">3.3 矩阵(Matrix)</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/question/new">Adding Question</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">Contact</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
        </div>
</nav>