<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img src="/images/一笔签.gif" alt="David Logo" style="width:250px;height:100px;">  
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
    
            <li class="nav-item active">
                <a class="nav-link" href="/">HS Nav</a>
            </li> 
            <li class="nav-item active dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Home</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/home_page">All Character List</a>
                    <a class="dropdown-item" href="/about">Add Character Basic Information</a> 
                    <a class="dropdown-item" href="/about">Add Character Equipment Information</a>
                    <a class="dropdown-item" href="/about">Add New Question</a>
                </div>
            </li>
            <li class="nav-item active dropd">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Character Basic Info</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/about">Basic Information Link</a>
                    <a class="dropdown-item" href="/about">All Characters Basic Info</a>
                    <a class="dropdown-item" href="/about">Demo Basic Info by Different Class</a>
                    <a class="dropdown-item" href="/about">Demo Basic Info by Differnet Category</a>
                    <a class="dropdown-item" href="/about">Demo Basic Info by Differnet Type</a>
                </div>
            </li>
            <li class="nav-item active dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Character Storage Info</a>
                <div class="dropdown-menu">
                        <a class="dropdown-item" href="/about">Storage Information Link</a>
                        <a class="dropdown-item" href="/about">All Characters Storage Info</a>
                        <a class="dropdown-item" href="/about">Demo Storage Info by Different Class</a>
                        <a class="dropdown-item" href="/about">Demo Storage Info by Differnet Category</a>
                        <a class="dropdown-item" href="/about">Demo Storage Info by Differnet Type</a>
                </div>
            </li>
            <li class="nav-item active dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Character Equipment Info</a>
                <div class="dropdown-menu">
                        <a class="dropdown-item" href="/about">Equipment Information Link</a>
                        <a class="dropdown-item" href="/about">All Characters List</a>
                        <a class="dropdown-item" href="/about">Demo Equipment Info by Different Class</a>
                        <a class="dropdown-item" href="/about">Demo Equipment Info by Differnet Category</a>
                        <a class="dropdown-item" href="/about">Demo Equipment Info by Differnet Type</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/about">Daily Auction Item Check List</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="/about">Abbreviation List</a>
                </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">Contact Me</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
        </div>
</nav>