{{#extend "stylesheets"}}
<link rel="stylesheet" type="text/css" href="/stylesheets/user/kickstart.css" media="all" />
<link rel="stylesheet" type="text/css" href="/stylesheets/user/style.css" media="all" /> 
{{/extend}}
	
	{{> 1usernavigation }}

<div class="grid">
<div class="col_12">
	<blockquote>
	<p>Hello Welcome To Maplestory Information System Home Page</p>
	</blockquote>
	<p>This is introduce to Maplesotry, if you want to know more about <a href="http://www.google.ca" target="_blank">click here</a>.</p>

	<dl>
	    <dt><a href="/users">Home</a></dt>
		    <dd>Introduce Basic Infromation</dd>
	    <dt><a href="/users/characterinformation">Character Information</a>
			or<a href="/users/characterinfoadd">Add Character Information</a></dt>
	    	<dd>Page, Name, Level, Category, Class, Job and more...</dd>
	    <dt><a href="/users/characterequipment">Character Equiment</a></dt>
		    <dd>Page, Name, Attack Rnage(Low - High)</dd>
			<dd>Equiment on Following: Head, Face Asscessory, Eye Asscessory, Top Outfit, Bottom Outfit, Overall, Shoe</dd>
			<dd>Equiment on Following: Pendant, Weapon, Belt, Ring1, Ring2, Ring3, Ring4, Pocket</dd>
			<dd>Equiment on Following: Ear Asscessory, Shoulder, Gloves, Android, Heart, Emblem, Badge, Medal, Wrap Forge, Cape</dd>
		<dt><a href="/users/characterpets">Character Pets</a></dt>
		    <dd>Pet Info on Following: Name, Type, Function and more...</dd>
		<dt><a href="/users/itemprice">Item Price</a></dt>
		    <dd>Include Buy in Range(Low - High), Sell out Price(Suggestion), </dd>
		<dt><a href="/users/abbreviation">Abbreviation</a></dt>
		    <dd>abbreviation shortcut key</dd>
		<dt><a href="/users/more">More</a></dt>
		    <dd>More...</dd>
		<dt><a href="/users/addinfo">Additional Information</a></dt>
		    <dd>Add more info...</dd>
	</dl>
	</div>
	<hr/>
</div>



{{#extend "scripts"}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="/javascripts/users/kickstart.js"></script> <!-- KICKSTART -->
<script> document.title = 'Maplestory Info Home Page' </script>
{{/extend}}
<!-- ===================================== START FOOTER ===================================== -->
<div class="clear"></div>